@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/***************************** General *************************************/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

/***************************** Header *************************************/

header
{
    background-image: url('images/header_banner.png');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    /* background-size: 100% auto; */
    background-size: cover;
    background-position: center;
    padding-bottom: 500px;
}


/******* Navbar ********/

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 100%;
}

.navbar__pc-menu ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar__pc-menu ul li
{
    list-style: none;
    padding: 0 20px;
}

.navbar__pc-menu ul li a
{
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 15px;
}

.navbar__pc-menu ul li a img
{
    padding: 0 10px;
}

.navbar__shop a
{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar__cart
{
    position: relative;
}

.navbar__cart--count
{
    background-color: #E58411;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 5px 5px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.navbar__menu-div
{
    position: relative;
    transition-timing-function: linear;
    transition-property: width, height;
    transition-duration: 0.5s;
}

.navbar__mobile-button
{
    display: none;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar__mobile-menu
{
    background-color: #f7f7f7;
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: -35px;
    left: 5%;
}

.navbar__mobile-menu--inactive
{
    display: none;
    width: 0;
    height: 0;
}

.navbar__mobile-menu--active
{    
    display: block;
    width: 90%;
    height: auto;
}

/* .navbar__menu-div--active
{
    display: block;
}

.navbar__menu-div--inactive
{
    display: none;
} */

.navbar__mobile-menu ul
{
    background-color: #f7f7f7;
}

.navbar__mobile-menu ul li
{
    list-style: none;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #E58411;
    margin: -1px 0 0 0;
}

.navbar__mobile-menu ul li a
{
    font-size: 20px;
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}

.navbar__shop a:hover, .navbar__mobile-menu ul li a:hover, .navbar__pc-menu ul li a:hover
{
    color: #E58411;
}

@media screen and (max-width: 768px)
{
    .navbar__mobile-button
    {
        display: block;
    }

    .navbar__pc-menu
    {
        display: none;
    } 
}

/******* Banner ********/
.banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__main-text
{
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    padding: 0 20px;
}

.banner__sub-text
{
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 24px;
    font-weight: 300;
    padding: 30px 0;
    width: 100%;
}

.banner__search
{
    position: relative;
    width: 100%;
}

.banner__search--field
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 30%;
    padding: 20px;
    border: 0.86px solid rgba(255, 255, 255, 0.6);
    border-radius: 42px;
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

.banner__search--field::placeholder
{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

.banner__search--button
{
    position: absolute;
    left: 60%;
    transform: translate(27%, 25%);
    
    background-color: #E58411;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 990px)
{
    .banner__main-text
    {
        font-size: 32px;
    }

    .banner__sub-text
    {
        font-size: 18px;
    }

    .banner__search--button
    {
        left: 58%;
    }
}

@media screen and (max-width: 768px)
{
    .banner__main-text
    {
        font-size: 24px;
        padding: 10px 20px;
    }

    .banner__sub-text
    {
        font-size: 16px;
        padding: 30px 10px;
    }

    .banner__search--field
    {
        width: 50%;
        padding: 15px;
    }

    .banner__search--button
    {
        left: 65%;
        transform: translate(27%, 17%);
        font-size: 12px;
    }
}

@media screen and (max-width: 580px)
{

    .banner__sub-text
    {
        width: 90%;
    }

    .banner__search
    {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .banner__search--field
    {
        width: 80%;
        position: static;
        transform: none;
    }

    .banner__search--button
    {
        position: static;
        transform: translate(27%, -25%);
        margin-top: 20px;
    }
}

/***************************** Main *************************************/

/******* Choosing Us ********/
.choosing-us
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.choosing-us__title
{  
    font-size: 42px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
    width: 25%;
}

.choosing-us__content
{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.choosing-us__content--container
{
    width: 25%;
}

.choosing-us__content--heading
{
    font-size: 24px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
}

.choosing-us__content--text
{
    font-size: 16px;
    line-height: 29.6px;
    text-align: left;
    padding: 10px 0;
    color: rgba(30, 30, 30, 1);
}

.choosing__us--more-info
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.choosing__us--more-info p
{
    font-size: 14px;
    color: rgba(229, 132, 17, 1);
    padding: 0 10px 0 0;
}

@media screen and (max-width: 990px)
{
    .choosing-us
    {
        flex-direction: column;
        padding: 20px;
    }

    .choosing-us__title
    {
        font-size: 32px;
        width: 100%;
        text-align: center;
    }

    .choosing-us__title br
    {
        display: none;
    }

    .choosing-us__content--container
    {
        width: 33%;
        padding: 20px;
    }

    .choosing-us__content--heading
    {
        font-size: 20px;
        text-align: center;
    }

    .choosing-us__content--text
    {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 768px)
{
    .choosing-us__title
    {
        font-size: 24px;
        width: 100%;
        text-align: center;
    }

    .choosing-us__content
    {
        flex-direction: column;
        padding: 20px;
    }

    .choosing-us__content--container
    {
        width: 100%;
        padding: 20px;
    }

    .choosing-us__content--heading
    {
        font-size: 20px;
        text-align: center;
    }

    .choosing-us__content--text
    {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .choosing__us--more-info
    {
        justify-content: center;
    }
}

/******* Experiences ********/
.experiences
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.experiences__content
{
    padding: 40px;
}

.experiences__picture
{
    position: relative;
}

.experiences__picture--main
{
    width: 80%;
    filter: drop-shadow(0px 5px 15px gray);
}

.experiences__picture--rectangle1
{
    position: absolute;
    width: 60%;
    height: 60%;
    top: -60px;
    left: -30px;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 20px;
}

.experiences__picture--rectangle2
{
    position: absolute;
    width: 60%;
    height: 70%;
    top: 60px;
    left: 30%;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 20px;
}

.experiences__content--heading
{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 21.09px;
    letter-spacing: 0.175em;
    color: rgba(229, 132, 17, 1);
}

.experiences__content--main-text
{
    font-size: 42px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
    padding: 20px 0;
}

.experiences__content--sub-text
{
    font-size: 18px;
    text-align: left;
    line-height: 33.3px;
    color: rgba(30, 30, 30, 1);
    padding: 20px 0;
}

@media screen and (max-width: 990px)
{
    .experiences__content
    {
        width: 50%;
    }

    .experiences__content--main-text
    {
        font-size: 32px;
    }

    .experiences__content--main-text br, .experiences__content--sub-text br
    {
        display: none;
    }

    .experiences__picture--main
    {
        width: 100%;
    }

    .experiences__picture--rectangle1, .experiences__picture--rectangle2
    {
        display: none;
    }
}

@media screen and (max-width: 768px)
{
    .experiences
    {
        flex-direction: column;
        padding: 20px 0;
    }

    .experiences__content, .experiences__picture
    {
        width: 100%;
    }

    .experiences__content--main-text
    {
        font-size: 24px;
    }

    .experiences__content--sub-text, .experiences__content--heading
    {
        font-size: 16px;
    }

    .experiences__picture--rectangle
    {
        display: none;
    }
}

/********* Materials ********/

.materials
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.materials__content
{
    padding: 40px;
}

.materials__content--heading
{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 21.09px;
    letter-spacing: 0.175em;
    color: rgba(229, 132, 17, 1);
}

.materials__content--main-text
{
    font-size: 42px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
    padding: 20px 0;
}

.materials__content--sub-text
{
    font-size: 18px;
    text-align: left;
    line-height: 33.3px;
    color: rgba(30, 30, 30, 1);
    padding: 20px 0;
}

.materials__picture
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.materials__picture--small
{
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.materials__picture--small img
{
    width: 100%;
    padding: 20px;
    filter: drop-shadow(0px 5px 5px gray);
}

.materials__picture--large
{
    position: relative;
}

.materials__picture--large img
{
    width: 100%;
    filter: drop-shadow(0px 5px 5px gray);
}

.materials__picture--rectangle
{
    position: absolute;
    width: 60%;
    height: 60%;
    top: -60px;
    right: 0;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 20px 0 0 0;
    z-index: -1;
}

@media screen and (max-width: 990px)
{
    .materials__content
    {
        width: 50%;
    }

    .materials__content--main-text
    {
        font-size: 32px;
    }

    .materials__content--main-text br, .materials__content--sub-text br
    {
        display: none;
    }

    .materials__picture--large img
    {
        width: 100%;
    }

    .materials__picture--rectangle
    {
        display: none;
    }
    
}

@media screen and (max-width: 768px)
{
    .materials
    {
        flex-direction: column;
        padding: 20px 0;
    }

    .materials__content
    {
        width: 100%;
    }

    .materials__content--main-text
    {
        font-size: 24px;
    }

    .materials__content--sub-text, .materials__content--heading
    {
        font-size: 16px;
    }

    .materials__picture--small
    {
        padding: 0 20px;
    }

    .materials__picture--small img
    {
        padding: 10px;
    }
}

/********** Testimonials ********/

.testimonials
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.testimonials__content--heading
{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 21.09px;
    letter-spacing: 0.175em;
    color: rgba(229, 132, 17, 1);
}

.testimonials__content--main-text
{
    font-size: 42px;
    text-align: center;
    color: rgba(30, 30, 30, 1);
    padding: 20px 0;
}

.testimonials__slider
{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100%;
}

.testimonials__container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
}

.testimonials__container--main-pic
{
    width: 100%;
    filter: drop-shadow(0px 5px 5px gray);
}

.testimonials__content
{
    position: absolute;
    width: 75%;
    height: auto;
    bottom: 10%;
    left: 12.5%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 18.12px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials__client--name
{
    color: rgba(30, 30, 30, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: center;
    padding: 50px 0 0 0;
}

.testimonials__client--title
{
    font-size: 12px;
    line-height: 14.06px;
    text-align: center;
    color: rgba(30, 30, 30, 0.6);
}

.testimonials__client--review
{
    font-size: 14px;
    line-height: 16.41px;
    text-align: center;
    color: rgba(30, 30, 30, 0.8);
    padding: 20px 0 0 0;
}

.testimonials__client--rating
{
    padding: 20px 0;
}

.testimonials__client--pic
{
    position: absolute;
    top: -30px;
    left: -25.5px;
    filter: drop-shadow(0px 5px 5px gray);
}

.testimonials__content--pic
{
    position: relative;
}

.testimonials__white-circle
{
    position: absolute;
    width: 66px;
    height: 66px;
    top: -35px;
    left: -35px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    z-index: -1;
}

.splide__arrow
{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 7.03px 19.53px 0px rgba(0, 0, 0, 0.06);
    opacity: 1;
    top: 35%;
    padding: 20px;
}


@media screen and (max-width: 990px)
{
    .testimonials__container
    {
        width: 50%;
    }

    .testimonials__content--main-text
    {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px)
{
    .testimonials
    {
        padding: 20px 0;
    }

    .testimonials__content--main-text
    {
        font-size: 24px;
    }

    .testimonials__container
    {
        width: 100%;
    }
}

/**************************** Footer ************************************/
footer
{
    background-color: rgba(247, 247, 247, 1);
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.footer__content
{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.footer__main-content h2
{
    font-size: 28px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
}

.footer__main-content p
{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    line-height: 24px;
    color: rgba(30, 30, 30, 1);
    padding: 40px 0;
}

.footer__links
{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__links h3
{
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    padding: 0 0 20px 0;
    color: rgba(246, 151, 63, 1);
}

.footer__links ul
{
    list-style: none;
}

.footer__links ul li
{
    padding: 10px 0;
}

.footer__links ul li a
{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    color: rgba(30, 30, 30, 1);
}

.footer__sub-content
{
    padding: 0 0 0 60px;
}

.footer__sub-content:last-child ul
{
    list-style-position: inside;
}

.footer__sub-content:last-child ul li:first-child
{
    list-style-image: url('images/facebook.png');
}

.footer__sub-content:last-child ul li:nth-child(2)
{
    list-style-image: url('images/twitter.png');
}

.footer__sub-content:last-child ul li:nth-child(3)
{
    list-style-image: url('images/instagram.png');
}

.footer__extra
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.footer__extra p
{
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: rgba(30, 40, 51, 1);
    opacity: 0.7;
}

.footer__extra span
{
    font-size: 15px;
    text-align: left;
    padding: 0 20px;
    color: rgba(30, 30, 30, 1);
}

@media screen and (max-width: 990px)
{
    footer
    {
        padding: 20px;
    }

    .footer__content
    {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .footer__main-content h2, .footer__main-content p
    {
        text-align: center;
    }

    .footer__extra
    {
        flex-direction: column;
        padding: 20px 0;
    }

    .footer__extra--conditions
    {
        padding: 20px 0;
    }
}

@media screen and (max-width: 768px)
{

    .footer__sub-content
    {
        padding: 20px 0;
    }

    .footer__links
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__links h3
    {
        text-align: center;
    }

    .footer__links ul
    {
        padding: 0;
    }

    .footer__links ul li
    {
        padding: 10px 0;
        text-align: center;
    }

    .footer__extra--conditions
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
    }

    .footer__extra span
    {
        padding: 10px 0;
    }
}