/***************************** General *************************************/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

/***************************** Header *************************************/

header
{
    background-image: url('images/header_banner.png');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    /* background-size: 100% auto; */
    background-size: cover;
    background-position: center;
    padding-bottom: 500px;
}


/******* Navbar ********/

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 100%;
}

.navbar ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar ul li
{
    list-style: none;
    padding: 0 20px;
}

.navbar ul li a
{
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 15px;
}

.navbar ul li a img
{
    padding: 0 10px;
}

.navbar__shop a
{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar__cart
{
    position: relative;
}

.navbar__cart--count
{
    background-color: #E58411;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 5px 5px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.navbar__mobile-button
{
    display: none;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar__mobile-menu--inactive
{
    display: none;
}

.navbar__mobile-menu--active
{
    display: block;
}

nav a:hover, a:hover
{
    color: #E58411;
}

@media screen and (max-width: 768px)
{
    .navbar__mobile-button
    {
        display: block;
    }

    .navbar nav
    {
        display: none;
    }

    #mobile-menu ul
    {
        background-color: #F7F7F7;
        opacity: 0.8;
    }

    #mobile-menu ul li
    {
        list-style: none;
        padding: 20px 0;
        text-align: center;
    }

    #mobile-menu ul li a
    {
        font-size: 20px;
        color: #000000;
        font-weight: 900;
        text-decoration: none;
    }
}

/******* Banner ********/
.banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__main-text
{
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    padding: 0 20px;
}

.banner__sub-text
{
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 24px;
    font-weight: 300;
    padding: 30px 0;
    width: 100%;
}

.banner__search
{
    position: relative;
    width: 100%;
}

.banner__search--field
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 30%;
    padding: 20px;
    border: 0.86px solid rgba(255, 255, 255, 0.6);
    border-radius: 42px;
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

.banner__search--field::placeholder
{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

.banner__search--button
{
    position: absolute;
    left: 60%;
    transform: translate(27%, 20%);
    
    background-color: #E58411;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 990px)
{
    .banner__main-text
    {
        font-size: 32px;
    }

    .banner__sub-text
    {
        font-size: 18px;
    }

    .banner__search--button
    {
        left: 58%;
    }
}

@media screen and (max-width: 768px)
{
    .banner__main-text
    {
        font-size: 24px;
        padding: 10px 20px;
    }

    .banner__sub-text
    {
        font-size: 16px;
        padding: 30px 10px;
    }

    .banner__search--field
    {
        width: 50%;
        padding: 15px;
    }

    .banner__search--button
    {
        left: 65%;
        transform: translate(27%, 12%);
        font-size: 12px;
    }
}

@media screen and (max-width: 580px)
{
    .banner__search
    {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner__search--field
    {
        width: 80%;
        position: static;
        transform: none;
    }

    .banner__search--button
    {
        position: static;
        transform: translate(27%, -25%);
        margin-top: 20px;
    }
}

/***************************** Main *************************************/

/******* Choosing Us ********/
.choosing-us
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.choosing-us__title
{  
    font-size: 42px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
    width: 25%;
}

.choosing-us__content
{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.choosing-us__content--container
{
    width: 25%;
}

.choosing-us__content--heading
{
    font-size: 24px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
}

.choosing-us__content--text
{
    font-size: 16px;
    line-height: 29.6px;
    text-align: left;
    padding: 10px 0;
    color: rgba(30, 30, 30, 1);
}

.choosing__us--more-info
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.choosing__us--more-info p
{
    font-size: 14px;
    color: rgba(229, 132, 17, 1);
    padding: 0 10px 0 0;
}

@media screen and (max-width: 990px)
{
    .choosing-us
    {
        flex-direction: column;
        padding: 20px;
    }

    .choosing-us__title
    {
        font-size: 32px;
        width: 100%;
        text-align: center;
    }

    .choosing-us__title br
    {
        display: none;
    }

    .choosing-us__content--container
    {
        width: 33%;
        padding: 20px;
    }

    .choosing-us__content--heading
    {
        font-size: 20px;
        text-align: center;
    }

    .choosing-us__content--text
    {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 768px)
{
    .choosing-us__title
    {
        font-size: 24px;
        width: 100%;
        text-align: center;
    }

    .choosing-us__content
    {
        flex-direction: column;
        padding: 20px;
    }

    .choosing-us__content--container
    {
        width: 100%;
        padding: 20px;
    }

    .choosing-us__content--heading
    {
        font-size: 20px;
        text-align: center;
    }

    .choosing-us__content--text
    {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .choosing__us--more-info
    {
        justify-content: center;
    }
}

/**************************** Footer ************************************/